# Ignore everything
/*

# Allow main folders
!/src/
!/support/
!/tests/
!/include/
!/visualize
# Allow root files
!CMakeLists.txt
!.gitignore
!.clang-format
!.vscode/

# Ignore everything inside test output folders first
/tests/ex/*
/tests/im/*

# # Re-allow only what you want to keep
!/tests/ex/*.cpp
!/tests/ex/*.c
!/tests/ex/*.sh
!/tests/im/*.cpp
!/tests/im/*.sh

